<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.jakubkt.soundpressurelevelmeter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SoundPressureLevelMeter">
        <!--CalibrationActivity's orientation should be set to "landscape" at all times of possible-->
        <activity
            android:name=".CalibrationActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <!--RawDataActivity's orientation should be set to "landscape" at all times of possible-->
        <activity
            android:name=".RawDataActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <!--SPLMeterActivity's orientation should be set to "landscape" at all times of possible-->
        <activity
            android:name=".SPLMeterActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <!--SPLGraphActivity's orientation should be set to "landscape" at all times of possible-->
        <activity
            android:name=".SPLGraphActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>