<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.jakubkt.soundpressurelevelmeter">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SoundPressureLevelMeter">
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:screenOrientation="unspecified" />
        <!-- CalibrationActivity's orientation should be set to "landscape" at all times if possible -->
        <activity
            android:name=".CalibrationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:label="@string/button_calibration_name"
            android:screenOrientation="landscape" /> <!-- CalibrationActivity's orientation should be set to "landscape" at all times if possible -->
        <activity
            android:name=".RawDataActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:label="@string/button_raw_data_graph_name"
            android:screenOrientation="landscape" /> <!-- RawDataActivity's orientation should be set to "landscape" at all times if possible -->
        <activity
            android:name=".SPLMeterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:label="@string/button_spl_meter_name"
            android:screenOrientation="landscape" /> <!-- SPLMeterActivity's orientation should be set to "landscape" at all times if possible -->
        <activity
            android:name=".SPLGraphActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:label="@string/button_spl_graph_name"
            android:screenOrientation="landscape" /> <!-- SPLGraphActivity's orientation should be set to "landscape" at all times if possible -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>